.control-panel-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 60px;
  align-items: center;
}

.control-panel-container > * {
  height: 30px;
}

.sort-container {
  display: flex;
  align-items: inline;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}
